//******************//
//* ads section start
//*****************//

section.ads-section
    .container.text-center#add-service
        //- script(async='' src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        //- ins.adsbygoogle.googleadlinks(style='display:block' data-ad-client='ca-pub-4864473589052117' data-ad-slot='7955057758' data-ad-format='link')
        //- script 
        //-     | (adsbygoogle = window.adsbygoogle || []).push({});

//******************//
//* ads section start
//*****************//