//******************//
//* ads section start
//*****************//

section.ads-section.ads-section__bg
    .container.text-center
        h3 Place Ads Here

//******************//
//* ads section start
//*****************//