article
    .highlights
        h3.title Highlights
        ui.highlight-points
            li.highlight-point Eat cruciferous vegetables such as cabbage, kale, cauliflower and Brussels sprouts to ward off fatty liver disease
            li.highlight-point Indole, a natural compound found in cruciferous vegetables can reduce inflammation and fatty deposits

    h2 What is Dengue Fever? (
        a.ref-link.pop(href='https://www.nhlbi.nih.gov/health-topics/overweight-and-obesity' target='_blank' rel='noopener noreferrer' data-container='body' data-toggle='popover' data-trigger='hover touch' data-placement='bottom' data-content="<span class='assign'>✔</span>Trusted Source<br><h4 class='refblack'>Overweight and Obesity</h4><br><br><a href='https://www.nhlbi.nih.gov/health-topics/overweight-and-obesity' target='_blank' rel='noopener noreferrer'>Go to source</a>" data-original-title='' title='')
            | 1
            span.ref-tick
            sup &#x2714;
            | )
    p Dengue fever is a disease caused by mosquitoes infected by the dengue virus and is prevalent in the tropical regions of the world. It is a painful, disabling disease, with the severity of pain similar to that of bones breaking - hence it is also known as &lsquo;Breakbone&rsquo; fever.
    p Dengue fever affects close to 400 million people worldwide each year, with about 40% of the world&rsquo;s population being at risk of exposure and infection. Since dengue fever is caused by a virus, it cannot be cured by antibiotics.()
    .new-update
        .header
            h2.title What is New in Obesity?
        .body
            .card.card-row.clearfix
                a(href='#')
                .card-media
                    img.thumbnail.thumbnail-m.lazyload(data-src='../assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    p.card-copy symptoms of dengue fever include sudden high fever (as high as 40 &deg;C or 104 &deg;F), chills,
                    p.text-right.btn-link
                        span.btn-link Read more >
            .card.card-row.clearfix
                a(href='#')
                .card-mdia
                    img.thumbnail.thumbnail-m.lazyload(data-src='../assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    p.card-copy In rare cases, dengue fever may develop into a more life threatening form known
                    p.text-right.btn.btn-link
                        span.btn-link Read more >

    h2 
        a(name='0.1_2') What are the Symptoms of Dengue Fever?
    p The major 
        b symptoms of dengue fever include sudden high fever (as high as 40 &deg;C or 104 &deg;F), chills, severe headache (usually behind the eyes), muscle ache and joint pain, nausea, vomiting, flushed skin and in some cases, a skin rash similar to measles. Dengue fever symptoms may be mild initially and mistaken for a flu, cold or a viral infection. In rare cases, dengue fever may develop into a more life threatening form known as 
        b dengue hemorrhagic fever, which results in bleeding, decreased blood platelet count or thrombocytopenia, blood plasma leakage or the more fatal dengue shock syndrome, which causes dangerously low blood pressure.()
    h2 
        a(name='0.1_3') How is Dengue Fever Caused and Spread?
    p Dengue fever and dengue hemorrhagic fever spread from human-to-mosquito-to-human by the bite of mosquitoes carrying the dengue virus. The dengue virus belongs to a group known as Flavivirus and can be typically divided into four viral serotypes, DEN-1, DEN-2, DEN-3, and DEN-4, which are closely related but differ in their antigens. Many species of mosquitoes under the genus 
        i Aedes  transmit dengue; in particular, the 
        i Aedes aegypti species is most commonly associated with it and the major cause of dengue transmission. This species of mosquito breeds in stagnant waters and usually bites during daylight hours. The virus circulates in the blood for 2-7 days after a person is infected, during which time a mosquito biting the person would acquire it and in turn bites and infects another person.
    p The symptoms typically develop anywhere between 3 to 14 days, but usually start within 4 to 7 days of infection, and may last from 7 or 10 days. The dengue virus doesn&rsquo;t have any detrimental effect on the mosquito that carries it, and the mosquito remains infected for life. Dengue disease is spread when a mosquito bites an infected person and becomes a carrier of the dengue virus. The mosquito then bites another healthy person and thus spreads the disease causing a possible epidemic breakout. A person infected with a single type of dengue virus serotype out of the four, develops resistance to only that particular virus. However, they become much more susceptible to infection by the other three serotypes.
    .article-list
        .hedaer
            h3.title Latest Publications and Research on Obesity
        .body
            ul
                li
                    a(href="javacsript:;") Two-Photon Autofluorescence Imaging of Fixed Tissues: Feasibility and Potential Values for Biomedical Applications. 
                    | - Published by PubMed
                li 
                    a(href="javascript:;") Application of Peripheral Near Infrared Spectroscopy to Assess Risk Factors in Patient with Coronary Artery Disease: Part 1. 
                    | - Published by PubMed
        .footer
            p.text-right 
                a.btn-link(href="javascript:;") More >
    h2 
        a(name='0.1_4') What are the Complications of Dengue Fever?
    p Dengue fever may sometimes develop into more dangerous forms such as 
        b dengue hemorrhagic fever or dengue shock syndrome, which may lead to the development of life-threatening symptoms. Some of the complications caused by the disease include:
    ul
        li Severe dehydration
        li Continuous bleeding
        li Low platelets, due to which clotting of blood doesn&rsquo;t occur
        li Blood pressure may go dangerously low
        li Bradycardia (heart beating less than 60 counts per minute)
        li Damage to the brain due to bleeding, seizures or encephalitis
        li Damage to the immune system
        li Enlargement of liver and liver damage
    h2
        a(name='0.1_5') How Do You Diagnose Dengue Fever?
    p Diagnosis of <a href="">dengue</a> is considered when sudden high fever is accompanied by severe body, muscle or joint pain. It is important to be evaluated when a person develops fever within two weeks of being in the tropics or sub-tropics. Dengue often causes symptoms that are similar to other diseases such as flu, measles, and typhoid fever etc. Hence investigations are always performed to exclude other disease conditions. Usually, the blood of the patient is tested for the presence of antibodies and virus. Diagnosis of dengue infection can be done by the following methods:
    ul
        li
            | <a href="">Isolating</a> the virus by collecting serum sample from <a href="">patients</a> within 5 days of appearance of symptoms.
        li
            | <a href="">Detection of specific antibodies</a> can be done by collecting serum within 6 days after onset of symptoms. The serum is tested for specific anti-dengue antibodies by Enzyme-linked Immunosorbent Assay (ELISA). Titres of IgM and IgG antibodies increase four-fold in serum sample.
        li
            | Using Polymerase Chain Reaction (PCR) for detecting viral genomic sequence from Serum or Cerebro Spinal Fluid (CSF) samples collected from the patient, which is more expensive and complicated.
    p In the case of more serious complications such as dengue hemorrhagic fever, the following diagnosis must be performed:
    ul
        li
            | A tourniquet test is to be conducted, where a tourniquet is tied to the arm and if blood blotches tend to appear beyond the tourniquet, the patient may be suffering from increased bleeding, which may indicate dengue hemorrhagic fever
        li
            | A decrease in platelet count, also known as thrombocytopenia occurs when platelet count falls below 100,000. Normal platelet counts are between 150,000 to 400,000. A decreased platelet count may be due to dengue fever.
        li
            | An increase in hematocrit i.e., the volume percentage of red blood cells (RBCs), by 20% could be another indicator as it occurs due to a rise in the vascular permeability of the plasma. Signs of plasma leakage appear as increased fluid accumulation in the chest and abdominal cavity known as pleural effusion or ascites respectively.()
    h2
        a(name='0.1_6') How Do You Treat Dengue Fever?
    p Since there are no known antiviral drugs or injections available for the cure of the disease, dengue fever treatment or management mainly involves plenty of supportive care that would eventually help save the patient&rsquo;s life. Dengue is characterized by fever and intense body ache. Dengue treatment comprises of reducing the fever with antipyretic drugs such as paracetamol and the body ache with analgesics that help relieve the pain. Drugs such as aspirin and ibuprofen should be avoided as they may increase the risk of hemorrhage. The patient can also be treated with natural home remedies such as papaya leaves, kiwi and other food items that have been proven to help in the increase of platelet count, which becomes lower during dengue. In the case of more severe forms of dengue, such as dengue hemorrhagic disease or dengue shock syndrome, the patient must be admitted to a hospital immediately and given proper care. The mortality rate of a dengue patient without hospitalization is higher by about 50 percent. Treatments such as intravenous fluid replacement should be administered to these patients to prevent shock. Patients should drink plenty of fluids, as dehydration is common among those affected with Dengue.()
    h2
        a(name='0.1_7') Dengue Vaccine
    p The world&apos;s first dengue vaccine, Dengvaxia or CYD-TDV) developed by Sanofi Pasteur was approved for use in Mexico, Philippines and Brazil in December 2015 for the prevention of the deadly mosquito borne disease in people living in dengue endemic areas.
    p According to &ldquo;Dengue Vaccine: WHO position paper - July 2016&rdquo;, WHO says that countries should consider introducing the CYD-TDV in areas where there is epidemiological data suggesting a high incidence of dengue.
    p The discovery of CYD-TDV marks a major advance in the field of medicine. CYD-TDV is a prophylactic viral vaccine approved for use in people between the ages of 9 - 45 years. It is a triple-dose vaccine administered on a 0/6/12 month schedule via the subcutaneous route. It contains all 4 serotypes (1, 2, 3 and 4) of the dengue viruses.
    p CYD-TDV demonstrated protection against severe dengue cases in its phase 3 trials conducted in Asia and Latin America. However, there were limitations in its overall efficacy which was affected by factor like serotype, serostatus at vaccination (whether the person has had a prior infection or not), region or country and age.
    p New dengue vaccines TV003/TV005 have been developed by the National Institute of Allergy and Infectious Diseases. They produce antibodies to all 4 dengue virus serotypes. In earlier trials, a single dose of either of the vaccines was able to elicit a robust antibody and cellular immune response.
    p A Phase 3 trial of TV003 has begun in January 2016 in Sao Paulo to test how effective the vaccine is in preventing dengue and to test its safety. Early indications of its efficacy may be seen in less than two years.
    p Another vaccine developed by Takeda called the Tetravalent Dengue Vaccine (TDV) has also entered its Phase 3 trials early in 2016 in Latin America and Asia. Data from its Phase 1 and Phase 2 trials indicate that it is safe, well tolerated and immunogenic. The Phase 3 trial will check if the vaccine protects individuals at risk for symptomatic dengue across geography, irrespective of their serostatus.(, )
    h2 
        a(name='0.1_8') How Do You Prevent Dengue Fever?
    p Following certain basic steps is really the most effective way to prevent and fight dengue. Since the only way to get dengue is from a mosquito bite, the best way to prevent it is to avoid mosquitoes and prevent from mosquito bites. This is particularly important if a dengue epidemic is underway in your city or town. Some ways to prevent dengue are described below:
    ul
        li
            | Mosquito breeds in stagnant water. Hence it is advisable to avoid stagnant water and pools on the ground, in flowerpots, buckets, barrels etc., in and around the neighborhood and the house. Water should always be stored in closed containers. Stagnant pools of water on the floor should be mopped up.
        li
            | Bleaching powder may be used in water sources that are not meant for drinking, as it will prevent the development of mosquito eggs.
        li
            | Avoid being bitten by the mosquitoes in the first place. Mosquitoes bite us as they require the protein present in human blood to produce eggs. To prevent being bitten, keep mosquitoes away by using mosquito repellents, mosquito repellent plants whether indoors or outdoors.
        li
            | To avoid mosquitoes, it is best to live inside a well screened or air conditioned house. If this is not possible, mosquito nets should be attached to all windows.
    ul
        li
            | Another way to prevent mosquito bites is to wear long-sleeved shirts, pants, socks, and shoes or boots when spending time outdoors.
        li
            | Mosquitoes are more active at dawn, dusk or early evening. It is therefore advisable to avoid being outdoors during these times to decrease the chances of being bitten by a dengue carrying mosquito.
        li
            | Mosquitoes are attracted to dark colored clothing, therefore it is better to wear bright and light colored clothes.
        li
            | Avoid strong perfumes or scented body lotions, as mosquitoes are drawn to strong odors.()
    div.scroll-vertical
        table.table-bordered.table-striped
            tr
                td
                    b Fruit
                td
                    b Protein (g)
                td
                    b Fibre (g)
                td
                    b Calcium (mg)
                td
                    b Phospho -rous (mg)
                td
                    b Iron (mg)
                td
                    b Vitamin A (IU)
                td
                    b Vitamin C
            tr
                td
                    b
                    i Underutilized Fruits
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
            tr
                td
                    | Hingota (Balanites aegyptiaca) 
                    p Ripe fruits eaten raw or sun dried and stored as dates
                td 4.9
                td 3.5
                td 147
                td 58
                td 4
                td -
                td 46
            tr
                td
                    | Ker (Capparis deciduas) 
                    p
                    | Shrub; fresh dried tiny unripe fruits used as vegetable, fresh red fruits eaten raw
                td 5.9
                td 12.3
                td 153.8
                td 50.8
                td 2
                td -
                td 133
            tr
                td
                    | Lasora (Cordia spp.) 
                    p Fruit used as a veg or in pickles, ripe fruits freshly eaten
                td 2
                td 2
                td 55
                td 275
                td 6
                td -
                td -
            tr
                td
                    | Sangri (Prosopis cineraria) 
                    p
                    | Pods are locally called sangria; chocolate color, dried pods are eaten as a vegetable
                td 23.2
                td 20
                td 414
                td 400
                td 19
                td
                    br
                td 523
            tr
                td
                    | Meetha Pilu (Salvadora oleoides) 
                    p
                    | Fruits are red brown when ripe; eaten raw when ripe; can be cooked; dried and stored
                td 6
                td 2
                td 6
                td 76
                td 8
                td -
                td -
            tr
                td
                    | Bael (Aegle marmelos) 
                    p
                    | Fruit are small to large with a hard cover; pulp eaten or made in a fresh sherbet, bael leaves good for diabetics
                td 1.8
                td 2.9
                td 85
                td 31.8
                td 0.6
                td 91.6
                td 1.1
            tr
                td
                    | Chironji (Buchanania lanzan) 
                    p Fruit eaten raw; sweetish sub acidic flavor
                td 7.3
                td 5.2
                td -
                td -
                td -
                td -
                td 2
            tr
                td
                    | Karonda (Carissa spp.) 
                    p
                    | Immature fruits used as vegetable, mature fruits eaten raw. Fruits are processed as a pickle, jam, marmalade
                td 1.1
                td 1.8
                td 21
                td 28
                td -
                td 1619
                td 9-11
            tr
                td
                    | Aonla, Amla (Emblica officinalis) 
                    p Fruit eaten fresh, processed and preserved
                td 0.5
                td 1.9 - 3.4
                td 20
                td 26
                td 0.48
                td 17
                td 500-625
            tr
                td
                    | Phalsa (Grewia subinaequalis) 
                    p Small tiny brown fruits; used to prepare a sherbet
                td 1.3
                td 1.2
                td 129
                td 39
                td 3.1
                td 800
                td 22
            tr
                td
                    | Mahua (Mahua indica) 
                    p Ripe fruits eaten raw or cooked
                td 1.3
                td -
                td 45
                td 22
                td 1.1
                td 512
                td 40.5
            tr
                td
                    | Khirni (Manilkara hexandra) 
                    p Fresh fruits are very sweet and eaten raw as well as after drying
                td 0.48
                td -
                td 83
                td 17
                td 0.92
                td 675
                td 15.67
            tr
                td Manila tamarind (Pithecellobium dulce) 
                    p Pulp consumed raw
                td 2-3.3
                td 1.1
                td 13
                td 42
                td 0.5
                td 25
                td 138
            tr
                td Jamun (Syzygium cumini) 
                    p Eaten as a fresh fruit
                    p Jamun seeds contain various alkaloids such as jambosin and glycoside which inhibits the conversion of starch into sugars
                td 0.7
                td 0.9
                td 15
                td 15
                td 1.2-1.6
                td 80
                td 18
            tr
                td Tamarind (Tamarindus indica)
                td 2
                td 2.9
                td 34-94
                td 34-78
                td 0.2-0.9
                td -
                td 44
            tr
                td Ber (Zizyphus spp.) 
                    p Eaten as a fruit
                td 2
                td 2
                td 60
                td 120
                td 7
                td -
                td 88
            tr
                td Common Fruits
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
                td
                    br
            tr
                td Apple
                td 0.2
                td 1
                td 10
                td 14
                td 1
                td -
                td 1
            tr
                td Banana
                td 1.2
                td 0.4
                td 17
                td 36
                td 0.9
                td 78
                td 7
            tr
                td Orange
                td 0.7
                td 0.3
                td 26
                td 20
                td 0.3
                td 1104
                td 30
            tr
                td Papaya
                td 0.6
                td 0.8
                td 17
                td 13
                td 0.5
                td 666
                td 57
            tr
                td Grapes
                td 0.5
                td 2.9
                td 20
                td 30
                td 0.5
                td -
                td 1
            tr
                td Mango
                td 0.6
                td 0.7
                td 14
                td 16
                td 1.3
                td 2743
                td 16
            tr
                td Dates (dried)
                td 2.5
                td 3.9
                td 120
                td 50
                td 7.3
                td 26
                td 3
    | Reference Links
    a(href='https://www.medindia.net/patients/patientinfo/dengue.htm' target='_blank') https://www.medindia.net/patients/patientinfo/dengue.htm
    a(href='https://www.medindia.net/patients/lifestyleandwellness/the-lesser-known-fruits-with-high-nutrition-value.htm' target='_blank') https://www.medindia.net/patients/lifestyleandwellness/the-lesser-known-fruits-with-high-nutrition-value.htm
    a(href='https://www.medindia.net/patients/patientinfo/prostate-cancer-treatment-options.htm' target='_blank')   https://www.medindia.net/patients/patientinfo/prostate-cancer-treatment-options.htm
    a(href='https://www.medindia.net/patients/patientinfo/testicular-cancer.htm' target='_blank')  https://www.medindia.net/patients/patientinfo/testicular-cancer.htm
    br 
    b Highlights:
    br
    ul
        li Habitual tea drinkers live longer//
        li People who drink tea three or more times a week are more likely to live longer and healthier
        li So, gulp down three cups of tea a week to add more years to your beau&apos;tea&apos;ful life
    | Tea drinkers tend to live longer. A new study suggests that drinking tea at least three times a week can increase your life expectancy. The findings of the study are published in the 
    i European Journal of Preventive Cardiology
    | , a journal of the European Society of Cardiology (ESC).//
    br
    br
    i
    | &quot;Habitual tea consumption is associated with lower risks of cardiovascular disease and all-cause death,&quot;
    | said first author Dr. Xinyan Wang, Chinese Academy of Medical Sciences, Beijing, China. 
    i
    | &quot;The favourable health effects are the most robust for green tea and for long-term habitual tea drinkers.&quot;
    br
    br
    b Details of the Study
    br
    br
    | The analysis included 100,902 participants of the China-PAR project2 with no history of heart attack, stroke, or cancer. Participants were classified into two groups: habitual tea drinkers (three or more times a week) and never or non-habitual tea drinkers (less than three times a week) and followed-up for a median of 7.3 years.
    br
    br
    b Findings of the Study
    br
    br
    b  Habitual tea consumption was associated with more healthy years of life and longer life expectancy.
    br
    br
    | For example, the analyses estimated that 50-year-old habitual tea drinkers would develop coronary heart disease and stroke 1.41 years later and live 1.26 years longer than those who never or seldom drank tea.
    br
    br
    | Compared with never or non-habitual tea drinkers, 
    b habitual tea consumers had a 20% lower risk of incident heart disease and stroke, 22% lower risk of fatal heart disease and stroke, and 15% decreased risk of all-cause death
    br
    br
    | The potential influence of changes in tea drinking behaviour were analyzed in a subset of 14,081 participants with assessments at two time points. The average duration between the two surveys was 8.2 years, and the median follow-up after the second survey was 5.3 years.
    br
    br
    b Cardioprotective Effect of Tea
    br
    br
    | Habitual tea drinkers who maintained their habit in both surveys had a 39% lower risk of incident heart disease and stroke, 56% lower risk of fatal heart disease and stroke, and 29% decreased risk of all-cause death compared to consistent never or non-habitual tea drinkers.
    br
    br
    | Senior author Dr. Dongfeng Gu, Chinese Academy of Medical Sciences, said: 
    i &quot;The protective effects of tea were most pronounced among the consistent habitual tea drinking group. Mechanism studies have suggested that the main bioactive compounds in tea, namely polyphenols, are not stored in the body long-term. Thus, 
    b  tea intake over an extended period may be necessary for the cardioprotective effect
    br
    br
    b Green Tea Vs. Black Tea
    br
    br
    | In a sub-analysis by type of tea, 
    b drinking green tea was linked with approximately 25% lower risks for incident heart disease and stroke,  fatal heart disease and stroke, and all-cause death. However, no significant associations were observed for black tea.
    br
    br
    | Dr. Gu noted that a preference for green tea is unique to East Asia. 
    i
    | &quot;In our study population, 49% of habitual tea drinkers consumed green tea most frequently, while only 8% preferred black tea. The small proportion of habitual black tea drinkers might make it more difficult to observe robust associations, but our findings hint at a differential effect between tea types.&quot;
    br
    br
    | Two factors may be at play:
    br
    ul
        li
            | First, 
            b green tea is a rich source of polyphenols
            |  which protect against cardiovascular disease and its risk factors including high blood pressure and hyperlipidemia. 
            b
            | Black tea is fully fermented and during this process polyphenols are oxidized into pigments and may lose their antioxidant effects
            | .
        li
            | Second, black tea is often served with milk, which previous research has shown may counteract the favorable health effects of tea on vascular function.
    br
    b Men or Women: Who can Grab the Wholesome Health Benefits of Tea?
    br
    br
    | Gender-specific analyses showed that the protective effects of habitual tea consumption were pronounced and robust across different outcomes for men, but only modest for women. Dr. Wang said:
    i &quot;One reason might be that 
    b 48% of men were habitual tea consumers compared to just 20% of women
    | . Secondly, 
    b women had much lower incidence of, and mortality from, heart disease and stroke
    | . These differences made it more likely to find statistically significant results among men.&quot;
    br
    br
    | She added: 
    i
    | &quot;The China-PAR project is ongoing, and with more person-years of follow-up among women the associations may become more pronounced.&quot;
    br
    br
    | The authors concluded that randomized trials are warranted to confirm the findings and provide evidence for dietary guidelines and lifestyle recommendations.
    br
    br
    b Reference:
    br
    ol
        li
            a(href='https://doi.org/10.1177/2047487319894685' rel='nofollow' target='_blank')
            | Tea consumption and the risk of atherosclerotic cardiovascular disease and all-cause mortality: The China-PAR project
            |  - 
            span
            | (
            a(href='https://doi.org/10.1177/2047487319894685' target='_blank')
                | https://doi.org/10.1177/
                wbr
                | 2047487319894685
            | )
    br
    br
    | Source-Eurekalert
    | Reference Links
    br
    a(href='https://www.medindia.net/news/healthwatch/just-3-cups-of-tea-a-week-can-add-more-years-to-your-life-192471-1.htm' target='_blank') https://www.medindia.net/news/healthwatch/just-3-cups-of-tea-a-week-can-add-more-years-to-your-life-192471-1.htm