//*******************//
//** Article start **//
//*******************//
h1.article-title Mediterranean Diet May Protect Kidney Health of Transplant Recipients
.article-author.clearfix
    .article-author__avatar 
        figure
            img.img-responsive(img src="./../assets/images/src/hannah-joy.jpg")
    .article-author__info
        p 
            a(href="#") Jeffil Obadiah
        span on Jan 3, 2020 at 3:44 AM
        br
        span Reviewed by 
            a(href="#") The Medindia Medical Review Team
.article-content
    include ./article-content.pug

//*******************// 
//** Article end **//
//*******************//