//*******************//
//** Aside search start **//
//*******************//

section.section.section__fill.section-search
    .section__header
        h3.section__name Search
    .section__body
        fieldset
            .form-group.relative
                .form-control(type="text" placeholder="Enter keyword ...")
                ul.auto-result.text-left
                    li
                        a(href="javascript:;") Name 01
                    li
                        a(href="javascript:;") Name 02
                    li
                        a(href="javascript:;") Name 03
    .section__footer
        p.text-center   
            a.btn.btn-md.btn-circle.btn-white search
//*******************//
//** Aside search start **//
//*******************//