//***************
// Aside Category
//***************

section.section.section-category
    .section__header
        h3.section__name News Category
    .section__body
        select.mb-lg-20.form-control
            option General Health news
        ul.list-group
            li.list-group-item
                a.list-group-item-text(href="javascript:;") National and Global Goals to Make People Live Healthier for Longer
            li.list-group-item
                a.list-group-item-text(href="javascript:;") New Guidelines Improve Treatment of Hyperthyroid Patients
            li.list-group-item
                a.list-group-item-text(href="javascript:;") Quick, Inexpensive Tests for Myopia Possible
    .section__footer.text-center
        a.btn.btn-primary.btn-md.btn-circle(href="javascript:;") More General Health News

//***************
// Aside Category
//***************