//***************************//
//** Aside subscribe start **//
//***************************//

section.section.section__fill.section-search
    .section__header
        h3.section__name Medindia Newsletters
    .section__body
        p.text Subscribe to our Free Newsletters!
        fieldset
            .form-group
                input.form-control(type="text" placeholder="Enter keyword ...")
    .section__footer
        p.text-center   
            a.btn.btn-md.btn-circle.btn-white Subscribe Now!
        p
            a(href="" title="Terms &amp; Conditions") Terms &amp; Conditions 
            | and 
            a(href="" title="Privacy Policy") Privacy Policy.
//****************************//
//** Aside subscribe start **//
//****************************//