section.section.whats-new
    .section__header
        h3.section__name What's New on Medindia
    .section__body
        .card.card-row.clearfix
            a(href='#')
            img.img-responsive.thumbnail.thumbnail-m.lazyload(data-src='../assets/images/src/media-07.jpg')
            .card-content
                .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
        .card.card-row.clearfix
            a(href='#')
            img.thumbnail.thumbnail-m.lazyload(data-src='../assets/images/src/media-05.jpg')
            .card-content
                .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
        .card.card-row.clearfix
            a(href='#')
            img.thumbnail.thumbnail-m.lazyload(data-src='../assets/images/src/media-06.jpg')
            .card-content
                .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
    .section__footer
        .text-center
            a.btn.btn-primary.btn-sm.btn-circle.btn-inline-block View all