//***************
// Aside archive
//***************

section.section.section-archive.section__fill
    .section__header
        h3.section__name News Archive
    .section__body
        .flex-row
            label Date
            span
                select.form-control
                    option 01
                    option 02
                    option 03
            span
                select.form-control
                    option Jan
                    option Feb
                    option Mar
            span
                select.form-control
                    option 1990
                    option 1991
                    option 1992
        .flex-row
            label Category
            span
                select.form-control
                    option(value='100') All Categories
                    option(value='23') AIDS/HIV News
        .flex-row
            label Keyword
            span
                input.form-control(type="text" name="keyword")
    .section__footer
        .text-center
            button.btn.btn-md.btn-circle.btn-white(type="submit") Submit
            

//***************
// Aside archive
//***************