//************************//
//** Aside stay start ****//
//************************//

section.section.section-stay
    .section__header
        h3.section__name Stay Connected
    .section__body
        p.twitter-link
            a.twitter-follow-button(data-show-count='false' data-size='large' href='https://twitter.com/Medindia' target='blank') Follow @Medindia
            script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        .connect-us-link
            a.facebook.icon-facebook(href='https://www.facebook.com/Medindia' title='Facebook' target='_blank')
            a.twitter.icon-twitter(href='https://twitter.com/#!/medindia' title='twitter' target='_blank')
            a.linkedin.icon-linkedin(href='https://www.linkedin.com/in/medindia' title='LinkedIn' target='_blank')
            a.pinterest.icon-pinterest(href='https://pinterest.com/medindia/' title='Pinterest' target='_blank')
            a.delicious.icon-delicious(href='https://del.icio.us/medindia/' title='Delicious' target='_blank')
            a.instagram.icon-instagram(href='https://www.instagram.com/medindia/' title='Instagram' target='_blank')
            a.rss.icon-rss(href='https://feeds2.feedburner.com/health-in-focus' title='RSS' target='_blank')
        ul.connect-app
            li
                a(href='https://play.google.com/store/apps/developer?id=Medindia&hl=en' target='blank')
                    img.img-responsive(src='./../assets/images/src/available_android.png' alt='Available on the Android Market')
            li
                a(href='https://itunes.apple.com/us/artist/medindia/id835783750' target='blank')
                    img.img-responsive(src='./../assets/images/src/available_appstore.png' alt='Available on the App Store')

//************************//
//** Aside stay end ****//
//************************//