//***************
// Aside resource
//***************

section.section.section-resource
    .section__header
        h3.section__name News Resource
    .section__body
        ul.list-group
            li.list-group-item
                a.list-group-item-text(href="javascript:;") News Central
            li.list-group-item
                a.list-group-item-text(href="javascript:;") Popular News
            li.list-group-item
                a.list-group-item-text(href="javascript:;") Latest Health News

//***************
// Aside resource
//***************