//*******************//
//** A to Z start **//
//*******************//

section.section
    .section__header
        h3.section__name News A to Z
    .section__body
        .alph
            a(href="" title="") a
            a.active(href="" title="") b
            a(href="" title="") c
            a(href="" title="") d
            a(href="" title="") e
            a(href="" title="") f
            a(href="" title="") g
            a(href="" title="") h
            a(href="" title="") i
            a(href="" title="") j
            a(href="" title="") k
            a(href="" title="") l
            a(href="" title="") m
            a(href="" title="") n
            a(href="" title="") o
            a(href="" title="") p
            a(href="" title="") q
            a(href="" title="") r
            a(href="" title="") s
            a(href="" title="") t
            a(href="" title="") u
            a(href="" title="") v
            a(href="" title="") w        
            a(href="" title="") x
            a(href="" title="") y
            a(href="" title="") z

//*******************//
//** A to Z End **//
//*******************//