//****************************
// ask an expert section Start
//****************************
a#askanexpert__trigger.btn-askanexpert.btn.btn-circle.btn-sm.btn-primary(href="javascript:;") Ask an Expert
#askanexpert.askanexpert
    span.icon.icon-cross#close__askanexpert
    h3 As an Expert
    fieldset
        textarea.form-control(name="askanexpert" placeholder="Ask your Question?")
    fieldset.footer
        a.btn.btn-sm.btn-primary.btn-circle(href="javascript:;") Submit
//****************************
// ask an expert section End
//****************************