//**************************
// Cookies popup Start
//**************************
section.cookies#cookies
    .container
        .row.clearfix
            .grid-xxs-12.grid-md-8
                .mb-xxs-20.mb-md-0
                    h4.title This site uses cookies to deliver our services.
                    p By using our site, you acknowledge that you have read and understand our <a href="javascript:;" title="Cookie Policy">Cookie Policy</a>, <a href="javascript:;" title="Privacy Policy">Privacy Policy</a>, and our <a href="javascript:;" title="Terms of Use">Terms of Use</a>
            .grid-xxs-12.grid-md-4
                .btns
                    a.btn.btn-primary.btn-round(href="javascript:;") OK, I agree
                    a(href="javascript:;") No, give me more info
    span.icon.icon-cross#trigger_cookieClose
//**************************
// Cookies popup End
//**************************