//*********************
// Empowering start
//*********************
section.empowering.ph-xxs-40.mb-md-30
    .container
        .section__header
            .row.clearfix
                .grid-sm-8.grid-sm-push-2
                    h2.text-center.mt-xxs-0.mb-xxs-20.mb-md-20 Empowering Better Health
                    .form__group.text-center.mb-xxs-30.text-center
                        .show-inline-block.relative
                            i.icon.icon-magnifying-glass
                            input(type="text" name="empowersearch" placeholder="Search" class="form-control")
    .section__content
        ul#slider__icons.slider__icons.clearfix
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-1.png")
                    span.itemTitle Health Tips
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-2.png")
                    span.itemTitle Diet 
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-3.png")
                    span.itemTitle Beauty Tips
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-4.png")
                    span.itemTitle Home Remedies
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-5.png")
                    span.itemTitle Yoga
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-6.png")
                    span.itemTitle calculator
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-7.png")
                    span.itemTitle Drugs
            li.slider__item
                a(href="" alt="" title="") 
                    img(src="./assets/images/src/icon-8.png")
                    span.itemTitle Kids Care



            
//*********************
// Empowering end
//*********************