//*****************
// footer start
//*****************
.footerlinks__container
    .container
        .row.clearfix
            .grid-sm-6.grid-md-3
                ul.footer__links
                    li
                        a(href='https://www.medindia.net/aboutus.asp') About us
                    li
                        a(href='https://www.medindia.net/workformedindia.asp') Careers
                    li
                        a(href='https://www.medindia.net/regis/registration-benefits.asp') Benefits of Registration
                    li
                        a(href='https://www.medindia.net/advertise/advertising-policy.asp') Advertising Policy

            .grid-sm-6.grid-md-2
                ul.footer__links
                    li
                        a(href='https://www.medindia.net/contact.asp') Contact Us
                    li
                        a(href='https://www.medindia.net/Press_reports/index.asp') Press
                    li
                        a(href='https://www.medindia.net/sitemap.asp') Sitemap
                    li
                        a(href='https://www.medindia.net/feedback.asp') Feedback
            .grid-sm-6.grid-md-3
                ul.footer__links
                    li
                        a(href='https://www.medindia.net/Contactmail.asp?cat=Partnership Inquiries') Partnership Inquiries
                    li
                        a(href='https://www.medindia.net/request-for-using-medindia-material.asp?cat=Request to Use Medindia Content') Request to Use Medindia Content
                    li
                        a(href='https://www.medindia.net/unsubscribe.asp') Unsubscribe
            .grid-sm-6.grid-md-4
                .footer__socialLinks
                    h3 Follow Us On :
                    .clear
                    a.facebook.icon-facebook(href='https://www.facebook.com/Medindia', title='Facebook', target='_blank') facebook
                    a.twitter.icon-twitter(href='https://twitter.com/medindia', title='twitter', target='_blank') Twitter
                    a.linkedin.icon-linkedin(href='https://www.linkedin.com/in/medindia', title='LinkedIn', target='_blank') Linked in
                    a.pinterest.icon-pinterest(href='https://pinterest.com/medindia/', title='Pinterest', target='_blank') Pinterest
                    a.delicious.icon-delicious(href='https://del.icio.us/medindia/', title='Delicious', target='_blank') Delicious
                    a.rss.icon-rss(href='https://www.medindia.net/rss2.0/latest-on-medindia.xml', title='RSS', target='_blank') RSS
                    a.youtube.icon-youtube(href='https://www.youtube.com/channel/UCrjzUwilbT1xuW-0FKYjT2A?sub_confirmation=1', title='Youtube', target='_blank') Youtube
                    a.tumblr.icon-tumblr(href='https://medindia.tumblr.com/', title='Tumblr', target='_blank') Tumblr
                    a.instagram.icon-instagram(href='https://www.instagram.com/medindia/', title='Instagram', target='_blank') Instagram
.footerbottom__container
    .container
        .row.clearfix
            .grid-xxs-12
                p.mb-xxs-20.mb-lg-20 Disclaimer - All information and content on this site are for information and educational purposes only. The information should not be used for either diagnosis or treatment or both for any health related problem or disease. Always seek the advice of a qualified physician for medical diagnosis and treatment. 
                    a(href='https://www.medindia.net/disclaimer.asp', target='_blank') Full Disclaimer
            .grid-md-5
                .secondory__links
                    a(href='https://www.medindia.net/advertisement.asp') Advertise with us
                    |  
                    a(href='https://www.medindia.net/copyright.asp') Medindia Copyright
                    |  
                    a(href='https://www.medindia.net/includes/medindiaprivacy.asp') Privacy Policy
                    |  
                    a(href='https://www.medindia.net/terms-of-use.asp') Terms of Use
                p.mb-xxs-15  © All Rights Reserved 1997 - 2019    

            .grid-md-5.grid-md-push-2
                .footer__info
                    p.clearfix
                        img.rapidSSL.lazyload(data-src="./assets/images/src/RapidSSL-SEAL-90x50.gif" alt="" title="")
                        img.icon_hon.img-responsive.lazyload(data-src="https://www.honcode.ch/HONcode/Seal/HONConduct994366_s.gif" alt="" title="")
                        |This site complies with the 
                        a(href='https://www.healthonnet.org/HONcode/Conduct.html', rel='noopener noreferrer', target='_blank')  HONcode standard for trustworthy health
                        |  information: 
                        a(href='https://www.healthonnet.org/HONcode/Conduct.html?HONConduct994366', rel='noopener noreferrer', target='_blank') verify here.


//*****************
// footer end
//*****************
script
    include ./../../dist/assets/js/app.js