//*********************
// Header Logobar Start
//*********************		
.logoBar
    .container
        .row.clearfix
            .grid-xxs-7.grid-xs-8.grid-lg-4
                .brand
                    span.hamburgerMenu.visible-xxs.hidden-lg.icon-menu(hamburget__trigger data-status="open")
                    a.brand__logo(href="/" alt="Medindia" title="Medindia") Medindia
            .grid-xxs-5.grid-xs-4.grid-lg-push-4
                ul.navBar--right.clearfix
                        li.dropdown__trigger.langSelector.visible-xxs.hidden-lg
                            a(href="javascript:;")
                                i.icon.icon-language
                                span English (US)
                            span.caret
                            ul.dropdown__menu.dropdown__menu--right
                                li 
                                    a(href="" title="") Tamil
                                li 
                                    a(href="" title="") Telugu
                                li 
                                    a(href="" title="") Hindi
                        li.dropdown__trigger.miLogin
                            a(href="javascript:;")
                                i.icon.user_icon.icon-user
                                span Login / Register
                        li.dropdown__trigger.search__trigger.visible-xxs.hidden-lg
                            a(href="javascript:;" gsearch-trigger)
                                i.icon.user_icon.icon-magnifying-glass
                                span Login / Register
            .grid-lg-4.grid-lg-pull-4.gsearch__container#gsearch__container
                .google-form.gsearch
                    script.
                        (function() {
                        var cx = '006251122200401839306:xqepsetvscg';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                        })();
                    gcse:searchbox-only(resultsurl='https://www.medindia.net/search-result.asp', queryparametername='q')
                    ul.commonList.visible-xxs.hidden-lg
                        li.title Top Search
                        li
                            a(href="javascript:;") Suggestion 01
                        li
                            a(href="javascript:;") Suggestion 02
                        li
                            a(href="javascript:;") Suggestion 03
                        li
                            a(href="javascript:;") Suggestion 04
                .gsearchcloud__bg#gsearchcloud__bg
//*********************
// Header Logobar End
//*********************