//*********************
// Header Topbar Start 
//*********************
.topBar.hidden-xxs.visible-lg
    .container.container-lg-max
        .row.clearfix
            .grid-md-8
                ul.topBarNav.clearfix
                    li.dropdown__trigger About
                        span.caret
                        ul.dropdown__menu
                            li
                                a(href="" alt="" title="") About Medindia 
                            li
                                a(href="" alt="" title="") Medical Review Team
                            li
                                a(href="" alt="" title="") Content Team
                            li
                                a(href="" alt="" title="") Medindia Interviews
                            li
                                a(href="" alt="" title="") Medindia in the News
                            li
                                a(href="" alt="" title="") Sitemap
                            li
                                a(href="" alt="" title="") Advertise with Us
                    li
                        a(href="" title="") Mobile Apps
                    li
                        a(href="" title="") Careers
                    li
                        a(href="" title="") Internship
                    li
                        a(href="" title="") Medblogs
                    li
                        a(href="" title="") Contact us
            .grid-md-4.hidden-xxs.visible-lg
                .text-right
                    ul.topBarNav.topBarNav--right.clearfix
                        li.dropdown__trigger 
                            i.icon.icon-language
                            | English (US)
                            span.caret
                            ul.dropdown__menu.dropdown__menu--right
                                li 
                                    a(href="" title="") Tamil
                                li 
                                    a(href="" title="") Telugu
                                li 
                                    a(href="" title="") Hindi

//*********************
// Header Topbar End
//*********************	