//*********************
// Header Menu Start
//*********************
nav.navbar
    .container
        .navbar__container
            ul.navbar__nav
                li.navbar__link.navbar__explore.hidden-xxs.visible-lg.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") 
                        i.mi__icon.icon__hamburger.icon-menu 
                        = 'Explore'
                    //*******************************
                    //******** Explore Dropdown start
                    //*******************************
                    include ./navi-dropdown.pug
                    //*******************************
                    //******** Explore Dropdown end
                    //******************************* 
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") Healthy Living        
                    //**************************************
                    //******** Healthy Living dropdown start
                    //**************************************
                    include ./navi-dropdown.pug
                    //**************************************
                    //******** Healthy Living dropdown end
                    //**************************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") News
                    //*****************************
                    //******** News dropdown start
                    //*****************************
                    include ./navi-dropdown.pug
                    //*****************************
                    //******** News dropdown end
                    //*****************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") Health A-Z
                    //**********************************
                    //******** Health A-Z dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Health A-Z dropdown end
                    //**********************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") Calculators
                    //**********************************
                    //******** Calculators dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Calculators dropdown end
                    //**********************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") Articles
                    //**********************************
                    //******** Articles dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Articles dropdown end
                    //**********************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Explore" title="Explore") Drugs
                    //**********************************
                    //******** Drugs dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Drugs dropdown end
                    //**********************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Directories" title="Directories") Directories
                    //**********************************
                    //******** Directories dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Directories dropdown end
                    //**********************************
                li.navbar__link.dropdown__trigger
                    a(href="javascript:;" alt="Education" title="Education") Education
                    //**********************************
                    //******** Education dropdown start
                    //**********************************
                    include ./navi-dropdown.pug
                    //**********************************
                    //******** Education dropdown end
                    //**********************************
                        

//*********************
// Header Menu End
//*********************
//**************************
// hamburgerMenu Menu start
//**************************
.canvase#canvase
    .canvase__clould(hamburget__trigger data-status="close")
    ul.menu
        li.menu__link.close__link(hamburget__trigger)
            a(href="javascript:;" alt="Close" title="Close") Close
            span.icon.icon-left-arrow
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") Healthy Living 
                i.icon.icon-down-arrow.f-right
            ul.dropdown__links
                li
                    a(href="javascript:;") Health Report 
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") News
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") Health A-Z
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") Calculators
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") Articles
        li.menu__link
            a(href="javascript:;" alt="Explore" title="Explore") Drugs
        li.menu__link
            a(href="javascript:;" alt="Directories" title="Directories") Directories
        li.menu__link
            a(href="javascript:;" alt="Education" title="Education") Education
                
//*************************
// hamburgerMenu  Menu End
//*************************