//**************************
// Home Tab 4 content Start
//**************************
section
    .row
      .widgetcontainer.widget-table-container.widget-01
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-06.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-06.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m(src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy

//************************
// Home Tab 4 content end
//************************