//**************************
// Home Tab 4 content Start
//**************************
section.mt-md-40.clearfix
    .row.clearfix
      .widgetcontainer.widget-table-container.widget-01
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-06.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-06.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
    a.mt-xxs-20.f-right(href="javascript" title="view all") View all >
//************************
// Home Tab 4 content end
//************************