//**************************
// Home Tab 5 content Start
//**************************
section.whatsnew.ph-lg-30.clearfix
    .row
        .grid-xs-6.grid-sm-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                        img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
        .grid-xs-6.grid-sm-3
            .card.card__type2.card-footer-image
                a.full-card-link(href='javascript:;')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                        img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
        .grid-xs-6.grid-sm-3
            .card.card__type2.card-footer-image
                a.full-card-link(href='javascript:;')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='/Category Name?mbg_p=home&mbg_ref=latest')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                        img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
        .grid-xs-6.grid-sm-3
            .card.card__type2.card-footer-image
                a.full-card-link(href='javascript:;')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='/Category Name?mbg_p=home&mbg_ref=latest')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                        img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
//************************
// Home Tab 5 content end
//************************