//**************************
// Home Tab 3 content Start
//**************************
section.whatsnew.ph-lg-30.clearfix
    .row
        .grid-xs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
        .grid-xs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
        .grid-xs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
        .grid-xs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive(src='assets/images/src/turmeric-powder.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    .card__content--bottom
                        a(href='javascript:;') Author Name
//************************
// Home Tab 3 content end
//************************