//*************
// Modal Start
//*************
button(data-toggle='modal' data-target="#myModal") Open Modal
// The Modal
#myModal.modal
  // Modal content
  .modal-content.modal-md
    .modal-header
      span.close.icon.icon-cross(data-dismiss='modal' data-target="#myModal")
      h2 Modal Header
    .modal-body
      p Some text in the Modal Body
      p Some other text...
    .modal-footer
      h3 Modal Footer
//*************
// Modal End
//*************