//*********************
// Next prev link Start
//*********************

.pager.mt-xxs-25.ph-xxs-25
    p.link.btn-prev
        span Prev 
        a.btn-link(href="") Regular Aerobics can Ward Off Alzheimer’s Disease
    p.link.btn-next
        span Next
        a.btn-link(href="") Regular Aerobics can Ward Off Alzheimer’s Disease
//*********************
// Next prev link end
//*********************