//**************************
// poll section start
//**************************
section.section-poll.ph-xxs-20.ph-md-30
    .container
        .row.clearfix
            .grid-md-4
                .poll-container
                    h3 Poll
                    .poll-question.mb-xxs-20 Do you eat right for your blood type?
                    .poll-options
                        form(action="")
                            fieldset
                                .radiogroup
                                    label.custom-radio(for="pollOp1")
                                        input#pollOp1(type="radio" name="poll-opt") 
                                        | Yes
                                        i.custom-radio-icon
                                    label.custom-radio(for="pollOp2")
                                        input#pollOp2(type="radio" name="poll-opt") 
                                        | No
                                        i.custom-radio-icon
                                    label.custom-radio(for="pollOp3")
                                        input#pollOp3(type="radio" name="poll-opt") 
                                        | Not Sure
                                        i.custom-radio-icon
                                    label.custom-radio(for="pollOp4")
                                        input#pollOp4(type="radio" name="poll-opt") 
                                        | Not Sure
                                        i.custom-radio-icon
                            button.btn.btn-md.btn-circle.btn-warning.text-uppercase(type="submit") Vote
//**************************
// poll section end
//**************************