//**************************
// Template Reading content Start
//**************************
section.section.whatsnew.reading.ph-lg-30.clearfix
    .section-header.header
        h3.mb-xxs-20 Recommended Reading
    .section-body
        .card.card-row.clearfix.mb-xxs-20
            a(href='#')
            img.thumbnail.thumbnail-m.ls-is-cached.lazyloaded(data-src='./../assets/images/src/media-07.jpg' src='./../assets/images/src/media-07.jpg')
            .card-content
                .card-title Dealing with Menopause symptoms through lifestyle changes
                p You can deal with menopause symptoms such as hot flashes, weight gain and forgetfulness by making simple lifestyle changes.
        .card.card-row.clearfix.mb-xxs-20
            a(href='#')
            img.thumbnail.thumbnail-m.ls-is-cached.lazyloaded(data-src='./../assets/images/src/media-07.jpg' src='./../assets/images/src/media-05.jpg')
            .card-content
                .card-title Perimenopause
                p Perimenopause is a transition phase that lasts until menopause. The low estrogen levels during this phase cause irregular periods and early menopause symptoms such as hot flashes. This phase may last from a few months to years.
        .card.card-row.clearfix.mb-xxs-20
            a(href='#')
            img.thumbnail.thumbnail-m.ls-is-cached.lazyloaded(data-src='./../assets/images/src/media-07.jpg' src='./../assets/images/src/media-06.jpg')
            .card-content
                .card-title Menopause
                p Menopause is defined as the state of permanent cessation of menstrual cycles (periods) for 12-months.
    a.f-right(href="javascript" title="view all") View all >
//************************
// Template Reading content end
//************************