//**************************
// Template Popular content Start
//**************************
section.section.whatsnew.ph-lg-30.clearfix
    .section-header
        h3.mb-xxs-20 Most Popular on Medindia
    .row.clearfix
        .grid-xxs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive.lazyload(data-src='./../assets/images/src/vitamin-b1-thiamine.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') Cervical Cancer Awareness Month: Get Screened, Be Vaccinated 
                    //- .card__content--bottom
                    //-     a(href='javascript:;') Author Name
        .grid-xxs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive.lazyload(data-src='./../assets/images/src/breast-cancer.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') Lymphedema
                    //- .card__content--bottom
                    //-     a(href='javascript:;') Author Name
        .grid-xxs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive.lazyload(data-src='./../assets/images/src/home-pregnancy-test.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') Zika Virus Could Help Treat Brain Cancer: Here's How
                    //- .card__content--bottom
                        //- a(href='javascript:;') Author Name
        .grid-xxs-6.grid-sm-4.grid-lg-3
            .card.card__type2
                a.full-card-link(href='javascript:;')
                .card__media
                    .card__image-wrapper
                        figure.placeholder
                            img.img-responsive.lazyload(data-src='./../assets/images/src/vitamin-b1-thiamine.jpg' alt='' title='')
                .card__content
                    .card__label
                        a.subcategory-label__link(href='javascript:;')
                        | Category Name
                    h3.card__headline
                        a(href='javascript:;' style='') This Vegan Tofu Recipe With Hot &amp; Sour Zoodles Is Quick, Low-Carb &amp; Tasty
                    //- .card__content--bottom
                    //-     a(href='javascript:;') Author Name
    a.f-right(href="javascript" title="view all") View all >
//************************
// Template Popular content end
//************************