//*********************
// Whats New start
//*********************
section.whatsnew.whatsnew-2.ph-lg-30.clearfix.bg-yellow
    .container
        .header
            h2.title.mb-xxs-20 Whats New
                a.viewall__link(href='javascript:;' title="view all") View All
        .row
            .grid-xs-6.grid-sm-3                
                .card.card__type2.card-bg--white
                    //- a.full-card-link(href='javascript:;')
                    .card__content.min-h
                        h3.card__headline
                            a(href='javascript:;' style='') Pyorrhea
                        p.card__desc The information should not be used for either diagnosis or treatment or both for any health related problem 
                       
                    .card__media
                        .card__image-wrapper
                            figure.placeholder
                                img.img-responsive.lazyload(data-src='assets/images/src/pyorrhea.jpg' alt='' title='')
            .grid-xs-6.grid-sm-3
                .card.card__type2.card-bg--white
                    //- a.full-card-link(href='javascript:;')
                    .card__content.min-h
                        h3.card__headline
                            a(href='javascript:;' style='') Skin Pigmentation
                        p.card__desc diagnosis or treatment or both for any health related problem 
                        
                    .card__media
                        .card__image-wrapper
                            figure.placeholder
                                img.img-responsive.lazyload(data-src='assets/images/src/skin-pigmentation.jpg' alt='' title='')
            .grid-xs-6.grid-sm-3
                .card.card__type2.card-bg--white
                    //- a.full-card-link(href='javascript:;')
                    .card__content.min-h
                        h3.card__headline
                            a(href='javascript:;' style='') The information should not be used for either diagnosis
                        p.card__desc The information should not be used for either diagnosis or treatment or both for any health related problem 
                    .card__media
                        .card__image-wrapper
                            figure.placeholder
                                img.img-responsive.lazyload(data-src='assets/images/src/dermatitis.jpg' alt='' title='')
            .grid-xs-6.grid-sm-3
                .card.card__type2.card-bg--white
                    //- a.full-card-link(href='javascript:;')
                    .card__content.min-h
                        h3.card__headline
                            a(href='javascript:;' style='') Anemia
                        p.card__desc diagnosis or treatment or both for any health related problem 
                        
                    .card__media
                        .card__image-wrapper
                            figure.placeholder
                                img.img-responsive.lazyload(data-src='assets/images/src/anaemia.jpg' alt='' title='')
//*********************
// Whats New End
//*********************