//**************************
// section start
//**************************
section.ph-xxs-30
  .container
    .header
        h2.title.mb-xxs-20 Whats New
            a.viewall__link(href='javascript:;', title='view all') View All
    .row
      .widgetcontainer.widget-table-container.widget-01
        .widget-table-cell.cell-mx
          .card.card__type2.card-footer-image
            a.full-card-link(href='/articles/this-vegan-smoked-tofu-with-hot-and-sour-zoodles-is-chef-level-quality?mbg_p=home&mbg_ref=latest')
            .card__media
              .card__image-wrapper
                figure.placeholder
                  img.img-responsive.lazyload(data-src='./assets/images/src/media-07.jpg', alt='', title='')
            .card__content
                .card__label
                    a.subcategory-label__link(href='/recipes?mbg_p=home&mbg_ref=latest') Recipes
                h2.card__headline
                    a(href='/articles/this-vegan-smoked-tofu-with-hot-and-sour-zoodles-is-chef-level-quality?mbg_p=home&mbg_ref=latest', style='') This Vegan Tofu Recipe With Hot & Sour Zoodles Is Quick, Low-Carb & Tasty
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-06.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
        .widget-table-cell
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-08.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Health
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-07.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Beauty Tip
            .card.card-row.clearfix
                a(href='#')
                img.thumbnail.thumbnail-m.lazyload(data-src='./assets/images/src/media-05.jpg')
                .card-content
                    .card-title Matrimonial firm couldn't find groom for doctor. They have to pay fine
                    span.catName Home Remedy

//**************************
// section start
//**************************