doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Your Website
		link(href="./assets/css/main.css" rel="stylesheet")
	body
		//***************
		// Header Start 
		//***************
		header
			include ./components/header__topBar.pug	
			include ./components/header__logoBar.pug
			include ./components/header__navBar.pug
		//***************
		// Header end 
		//***************
		.pageContent
			include ./components/empowering.pug
			include ./components/whatsnew.pug
			include ./components/home-calculator.pug
			include ./components/widget-01.pug
		footer
			include ./components/footer.pug
		
		script(src="./assets/js/app.js")
