doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title Your Website
		link(href="/assets/css/main.css" rel="stylesheet")
	body
		// Header start
		header
			nav
				ul
					li Menu 1
					li Menu 2
		// Header end
		section
			article
				header
					h2 About page 4
		aside
			h2 About section
			p
				| Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
		footer
			p Copyright 2009 Your name.
		script(src="/assets/js/app.js")
