doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="noindex")
        title Your Website
        link(href="./../assets/css/main.css" rel="stylesheet")
        //-  ./../components/head.pug
    body
        header
            //***************
            // Header Start
            //***************
            include ./../components/header__topBar.pug
            include ./../components/header__logoBar.pug
            include ./../components/header__navBar.pug
            //***************
            // Header end 
            //***************
        include ./../components/article-image.pug
        .container.clearfix
            .template
                .main-content.template-col__big
                    include ./../components/breadcrumb.pug
                    include ./../components/article.pug
                    include ./../components/next-prev-links.pug
                    include ./../components/comments.pug
                    include ./../components/template-popular.pug
                    include ./../components/template-reading.pug
            .aside.aside__right.template-col__small.pt-lg-20
                include ./../components/aside-whats-new.pug
                include ./../components/aside-atoz.pug
                include ./../components/aside-search.pug
                include ./../components/aside-subscribe.pug
                include ./../components/aside-stay.pug
                include ./../components/aside-news-resource.pug
                include ./../components/aside-category.pug
                include ./../components/aside-archive.pug

        footer
            include ./../components/footer.pug
        include ./../components/cookies-popup.pug
        include ./../components/ask-an-expert.pug