// Importing custom fomnt for the website

//$URL: "http://medicaljokes.net/demo";
//$URL: "http://localhost:3000";
$URL: "./";
$assets: "#{$URL}/assets";

@include font-face('pnt', '#{$assets}/fonts/ProximaNovaT-Thin', normal, normal);
@include font-face('pnr', '#{$assets}/fonts/ProximaNova-Regular', normal, normal);
@include font-face('pnb', '#{$assets}/fonts/ProximaNova-Bold', normal, normal);
@include font-face('lr', '#{$assets}/fonts/Lora-Regular', normal, normal);
@include font-face('mi-icon', '#{$assets}/fonts/icomoon', normal, normal);

$font-pt: 'pnt', sans-serif;
$font-pr: 'pnr', sans-serif;
$font-pb: 'pnb', sans-serif;
$font-sr: 'lr', sans-serif;
$font-icon: 'mi-icon', arial;

body {
	font-family: $font-pr;
	font-size: rem(16px);
}
body.scroll-block{
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: $font-sr;
}
.full-card-link{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
section {
	.header{
		.title{
			font-family: $font-pb;
			color: #000;
			font-size: 22px;
			text-transform: uppercase;
			position: relative;
			padding-right: 60px;
			@include _media(min, lg){
				font-size: 32px;
			}
		}
		.viewall__link{
			text-transform: capitalize;
			font-size: 14px;
			position: absolute;
			right: 0; top: 50%;
			transform: translateY(-50%);
			//padding: 4px 8px;
			line-height: 18px;
			//border: 1px solid #ddd;
			//border-radius: 4px;
			text-decoration: none;
			color: #000;
			&:hover{
				border-color: #999;
			}
		}
	}
}
.top-border{
	border-top: 10px solid #000;
}
.error{
	margin-bottom: 15px;
}
.error-red{
	color: red;
}
.bg-yellow{
	background: #ffd600;
}
.section-bg-gray-1{
	background: #fdfcfc;
}
.section-horiz-border{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}