.logoBar{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    left: 0; top: 0;
    z-index: 1024;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    @include _media(min, lg){
        position: static;
        width: auto;
    }
    .icon{
        display: inline-block;
        //width: 30px; height: 30px;
        // background: #000;
        vertical-align: middle;
        @include _media(min, lg){
            margin-right: 8px;
        }
        
    }
    .navBar--right{
        > li + li {
            margin-right: 15px;
            @include _media(min, lg){
                margin-right: 0;
            }
        }
        @include _media(min, lg){
            margin-top: 5px;
        }
        span{
            display: none;
            @include _media(min, lg){
                display: inline-block;;
                position: relative;
                // bottom: 10px;
            }
        }
        .icon-user{
            font-size: 20px;
            margin-top: 3px;
            pointer-events: none;
            @include _media(min, lg){
                font-size: 18px;
                margin-top: 0;
            }
        }
    }
    .langSelector{
        a{
            margin-top: 6px;
            display: inline-block;
        }
        .icon{
            font-size: 20px;
            color: #333;
        }
    }
    .search__trigger{
        a{
            margin-top: 7px;
            display: inline-block;
            color: #333;
            .icon{
                font-size: 21px;
                pointer-events: none;
            }
        }
    }
    .gsearch__container{
        display: none;
        position: fixed;
        top: 60px;
        // background: #fff;
        width: 100%;
        height: calc(100% - 60px);
        left: 0;
        box-shadow: 0 2px 7px rgba(145, 145, 145, 0.35);
        padding-left: 0;
        padding-right: 0;
        @include _media(min, lg){
            display: block!important;
            position: relative;
            top: auto; left: auto;
            width: calc(100% / 3);
            box-shadow: none;
            padding-left: 15px;
            padding-right: 15px;
        }
        .commonList{
            margin-left: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            li{
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #000;
                    font-family: $font-pb;
                }
                &.title{
                    list-style: none;
                    margin-left: -20px;
                    font-family: $font-pb;
                    font-size: 20px;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                    color: #949494;
                }
            }
        }
        .google-form{
            height: 250px;
            background: #fff;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            z-index: 2;
            padding-top: 25px;
            @include _media(min, lg){
                height: auto;
                padding-top: 6px;
            }
        }
        .gsearchcloud__bg{
            position: absolute;
            background: rgba(0,0,0,0.6);
            width: 100%; height: 100%;
            left: 0; top: 0;
            z-index: 1;
            @include _media(min, lg){
                display: none;
            }
        }
    }
}
.brand{
    .hamburgerMenu{
        float: left;
        font-size: 24px;
        cursor: pointer;
        margin-top: 4px;
    }
    &__logo{
        font-size: 26px;
        font-family: $font-pb;
        line-height: 30px;
        float: right;
        color: #000;
        position: relative;
        right: calc(50% / 2);
        transform: translateX(calc(50% - 8px));
        text-transform: uppercase;
        @include _media(min, xs){
            transform: translateX(calc(50% + 8px));
        }
        @include _media(min, lg){
            position: static;
            float: left;
            transform: none;
            width: 53px; height: 43px;
            background: #fff url('#{$assets}/images/design/logo.png');
            text-indent: -999px;
            overflow: hidden;
        }
    }
}

.langSelector{
    @include _media(min, lg){
        position: absolute;
        top: 0;
    }
}
.miLogin {
    @include _media(min, lg){
        margin-top: 8px;
    }
    a{
        color: #000;
    }
}