.navbar{
    background: #fff;
    margin-top: 61px;
    @include _media(min, lg){
        margin-top: 0;
    }
    @include _media(min, lg){
        &.sticky{
            position: fixed;
            width: 100%;
            left: 0; top: 0;
            z-index: 1030;
        }
    }
    .shadow{
        box-shadow: 0 13px 16px -7px rgba(0,0,0,.2);
    }
    .container{
        max-height: 47px;
        overflow-y: hidden;
        @include _media(min, lg){
            max-height: none;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    &__container{
        overflow-x: auto;
        @include _media(min, lg){
            overflow-x: auto;
        }
    }
    &__nav{
        white-space: nowrap;
        @include _media(min, lg){
            display: table;
            width: 100%;
            // table-layout: fixed;
        }
    }
    &__link{
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        @include _media(min, sm){
            margin-right:20px;
        }
        @include _media(min, md){
            margin-right:30px;
        }
        @include _media(min, lg){
            display: table-cell;
        }
        &:last-child{
            margin-right:0;
        }
        > a{
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-family: $font-pb;
            color: #000;
            @include _media(min, lg){
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        &:hover{
            background-color: #efefef;
            box-shadow: inset 0 -3px 0 0 #256;
        }
        
    }
    @include _media(min, lg){
        &__explore{
            > a{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    height: 40%;
                    width: 1px;
                    background: #ddd;
                    right: -15px; top: 50%;
                    transform: translateY(-50%);
                }   
            } 
            .mi__icon{
                float: left;
            }  
        }
    }
    .dropdown{
        &__trigger{
            position: static;
            @include _media(max, 1199px){
                &:hover .dropdown__menu{
                    display: none
                }
            }
        }
        &__menu{
            background: #fff;
            border: none;
            border-top: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
            width: 100%;
            box-shadow: 0 13px 16px -7px rgba(0,0,0,.2);
            ul li{
                display: block;
            }
        }
    }
    &__mega{
        .dropdown-header{
            font-family: $font-pb;
            margin-bottom: 8px;
        }
        .more__link{
            float: right;
            a{
                font-size: 14px;
            }
            span{
                display: inline-block;
                margin-left: 5px;
            }
        }
        .divider{
            margin-bottom: 15px;
        }
    }
}

.canvase{
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%; top: 0;
    z-index: 1030;
    transition: all 360ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &.open{
        left: 0;
    }
    &__clould{
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
    }

    .menu{
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        max-width: 300px;
        background: #fff;
        list-style: none;
        overflow-y: auto;
        &__link{
            .icon{
                position: relative;
                top: 2px;
                pointer-events: none;
            }
            &.slide-open{  
                .icon{
                    position: static;
                }
                .icon:before{
                    content: "\e914";
                }
            }
        }
    }
    .close__link{
        position: relative;
        .icon{
            position: absolute;
            right: 20px; top: 50%;
            transform: translateY(-50%);
            z-index: 1020;
            color: #fff;
        }
        a{
            background: #000;
            color: #fff;
        }
        
    }
    .dropdown__links{
        display: none;
        a{
            text-transform: capitalize;
            padding-left: 40px;
        }
    }
    .menu__link{
        &:hover .dropdown__links{
            // display: block;
        }
    }
    li{
        
        + li {
            a {
                border-top: 1px solid #ddd;
            }
        }
        a{
            padding: 12px 15px;
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
            &:hover{
                background: rgba(0,0,0,.6);
                color: #fff;
            }
        }
    }
}
.navbar{
    &-caregory{
        box-shadow: none;
        position: relative;
        z-index: 0;
        background: #ddd;
        box-shadow:inset 0 13px 16px -7px rgba(0,0,0,.2);
        .nav{
            &-links{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-right: 80px;
                position: relative;
            }
        }
        .links-container{
            flex: 1;
            overflow-x: hidden;
        }
        .links{
            list-style: none;
            .link{
                float: left;
                margin-left: 25px;
                color: $color-primary;
                font-size: 14px;
                font-family: $font-pb;
            }
        }
        .slick{
            &-arrow{
                position: absolute;
                right: 0; top: 50%;
                transform: translateY(-50%);
                overflow: hidden;
                font-size: 0;
                background: none;
                border: none;
                color: $color-primary;
                outline: none;
                cursor: pointer;
                &:after{
                    font-size: 20px;
                    font-weight: bold;
                    display: inline-block;
                    font-family: $font-icon;
                }
            }
            &-disabled{
                opacity: 0.5;
                cursor: default;
            }
            &-next{
                &:after{
                    content: "\e912";
                }
            }
            &-prev{
                right: 40px;
                &:after{
                    content: "\e913"
                }
            }
        }
        .cat-name{
            padding-top: 10px;
            padding-bottom: 10px;
            background: $color-primary;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 40px;
            color: #fff;
            position: relative;
            &:after, &:before {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:after {
                border-color: rgba(3, 64, 84, 0);
                border-left-color: #034054;
                border-width: 20px;
                margin-top: -20px;
            }
            &:before {
                border-color: rgba(3, 64, 84, 0);
                border-left-color: #034054;
                border-width: 20px;
                margin-top: -20px;
            }
        }
    }
}