[class^="icon-"], [class*=" icon-"] {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-family: $font-icon;
}


.icon-up-arrow:before {
  content: "\e914";
}
.icon-down-arrow:before {
  content: "\e915";
}
.icon-next:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e913";
}
.icon-left-arrow:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e90f";
}
.icon-language:before {
  content: "\e910";
}
.icon-right-arrow:before {
  content: "\e911";
}
.icon-delicious:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-magnifying-glass:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-pinterest:before {
  content: "\e906";
}
.icon-play-button:before {
  content: "\e907";
}
.icon-rss:before {
  content: "\e908";
}
.icon-tumblr:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-world-grid:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
