.whatsnew{
    padding-top: 15px;
    .min-h{
        @include _media(min, xs){
            min-height: 180px;
        }
    }
    .card{
        box-shadow: none;
        &__media{
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__headline{
            min-height: initial;
            margin-bottom: 15px;
            a{
                overflow: hidden;
            }
        }
        &__desc {
            line-height: 20px;
            max-height: 40px;
            overflow: hidden;
        }
        &--top-border{
            border-top: 5px solid #333;
        }
    }
    @include _media(min, sm, $md-max){
        [class*="grid-"]:nth-child(4){
            display: none;
        }
    }
    .grid-xxs-6{
        &:nth-child(2n+1){
            clear: left;
        }
    }
    .grid-xs-6{
        @include _media(min, xs){
            &:nth-child(2n+1){
                clear: left;
            }
        }
    }
    .grid-sm-3{
        @include _media(min, sm){
            &:nth-child(2n+1){
                clear: none;
            }
            &:nth-child(4n+1){
                clear: left;
            }
        }
    }
    .grid-sm-4{
        @include _media(min, sm){
            &:nth-child(2n+1){
                clear: none;
            }
            &:nth-child(3n+1){
                clear: left;
            }
        }
    }
    .grid-lg-3{
        @include _media(min, lg){
            &:nth-child(3n+1){
                clear: none;
            }
            &:nth-child(4n+1){
                clear: left;
            }
        }
    }
}

.whatsnew-2{
    [class*="grid-"]:nth-child(4){
        display: block;
    }
}